.wrapper{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(123, 0, 255);
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 5px 25px 25px;
    max-width: 100%;
    min-height: 50%;
    background-color: rgb(31, 7, 92);
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: hidden;
    width: 94%;
    height: 25%;
    border-radius: 5px 5px 0 0;
    font-size: 55px;
    margin: 15px 10px 15px 10px;
    background-color: white;
}

.result{
    display: flex;
    justify-content: left;
    font-size: 55px;
    min-width: 350px;
    height: 55px;
    color: black;
    background-color:white;
}

.operation{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    font-size: 30px;
    min-width: 350px;
    height: 55px;
    color: black;
    background-color: white;
}

.keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: 33vh;
}

.keys button {
    width: 23%;
    margin: 1%;
    font-size: 25px;
}
